.carousel{
    display: block;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    box-shadow: black;
}

.carousel-caption {
    position: relative;
    text-align: right !important;
    top: 50%;
}

#tarjetas {
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    margin: 30px;
    font-size: x-small;
}

#tema {
    font-size: x-large;
}