.carousel{
    height: 600px;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.carousel-caption {
    position: relative;
    text-align: right !important;
    top: 25%;
}

#tarjetas {
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    margin: 30px;
    font-size: small;
    line-height: 2;
}

.btn-sm
{
    height: 25px;
    padding: 0;
    font-weight: bold !important;
}

#tema {
    font-size: x-large;
}

#descripcion
{
    font-size: smaller;
}

#inscripcion span
{
    text-decoration: underline;
    text-decoration-style: dotted;
}

#footer
{
    background-color: #1c3846 !important;
}